@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/ofont.ru_Myriad Pro.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1A1A1A;
    color: white;
    font-family: 'MyriadPro-Regular', sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 105px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 2px 0;
    font-size: 25px;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .right {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
  }
  
  .social-media {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    height: 25px; /* Set a uniform height */
    width: auto;
    margin-left: 10px; /* Add spacing between icons */
    vertical-align: middle; 
  }
  
  .social-icon:hover {
    opacity: 0.8;
  }

  .timefoot {
    margin-bottom: -30px;
    font-size: 20px;
  }
  
  .footer a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Устанавливает цвет текста ссылки таким же, как у родительского элемента */
}
.logo-animation {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo-letter {
  opacity: 0; /* Скрываем буквы по умолчанию */
  transform: translateY(100%); /* Начальное положение букв */
  animation: slideIn 1s ease forwards; /* Анимация для каждой буквы */
}
.logo-letter img {
  width: 30px;
}

.logo-letter:nth-child(1) {
  animation-delay: 0.1s; /* Задержка для первой буквы */
}

.logo-letter:nth-child(2) {
  animation-delay: 0.2s; /* Задержка для второй буквы */
}

.logo-letter:nth-child(3) {
  animation-delay: 0.3s;
}

.logo-letter:nth-child(4) {
  animation-delay: 0.4s;
}

.logo-letter:nth-child(5) {
  animation-delay: 0.5s;
}

.logo-letter:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}