@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/ofont.ru_Gilroy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px; /* Увеличено для соответствия новому макету */
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navbar-scrolled {
    background-color: #1A1A1A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-scrolled .navbar-logo img {
    height: 35px;
}

.navbar-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Логотип слева, ссылки по центру, иконки справа */
    align-items: center;
    max-width: 100%; /* Полная ширина */
    padding: 0 20px; /* Отступы */
}

.navbar-logo {
    justify-self: start; /* Логотип слева */
}

.navbar-logo img {
    margin: 13px;
    transition: all 0.3s ease;
}

.navbar-links {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 30px;
    position: relative; /* Добавляем позиционирование для родителей */
}

.navbar-links a {
    position: relative; /* Относительное позиционирование ссылки */
    text-decoration: none;
    color: white;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Располагаем меню прямо под ссылкой */
    left: 0; /* Выровняем меню по левому краю ссылки */
    background-color: #1A1A1A;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
    width: 220px;
    opacity: 0; /* Скрываем по умолчанию */
    visibility: hidden; /* Скрытие по умолчанию */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar-links .active-link {
    background: linear-gradient(90deg, #ABF538, #FED919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-user {
    justify-self: end; /* Иконки справа */
}

.navbar-user img {
    height: 45px;
    cursor: pointer;
    margin-left: 15px; /* Отступ между иконками */
}



.navbar-links a.active + .dropdown-menu,
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 3px;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #333333; /* Изменение фона при наведении */
}

.accordion-arrow {
    margin-left: 5px; /* Отступ между текстом и стрелкой */
    width: 15px;
    transition: transform 0.3s ease; /* Плавный поворот */
}

.accordion-arrow.open {
    transform: rotate(180deg); /* Поворот стрелки при открытии меню */
}
