.popup-info {
    position: fixed;
    bottom: 100px; /* Расстояние от нижней части экрана */
    left: 20px; /* Расстояние от левой части экрана */
    background-color: rgba(19, 18, 18, 0.9); /* Полупрозрачный белый фон */
    border: 1px solid #ccc; /* Граница блока */
    padding: 20px; /* Отступы внутри блока */
    z-index: 1000; /* Обеспечивает, что блок будет поверх других элементов */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Тень блока */
    width: 500px; /* Фиксированная ширина блока */
}

.close-button {
    background: none; /* Убираем фоновый цвет кнопки */
    border: none; /* Убираем рамку кнопки */
    font-size: 24px; /* Размер шрифта */
    cursor: pointer; /* Указываем, что это кнопка */
    position: absolute; /* Абсолютное позиционирование для кнопки */
    top: 10px; /* Расстояние от верхней части блока */
    right: 10px; /* Расстояние от правой части блока */
    color: white;
}

.popup-title {
    font-size: 20px; /* Размер заголовка */
    font-weight: bold; /* Жирный шрифт */
    margin: 0; /* Убираем отступы */
}

.popup-description {
    font-size: 14px; /* Размер текста описания */
    margin: 10px 0; /* Отступы сверху и снизу */
}

.popup-products {
    display: flex; /* Flex-контейнер для продуктов */
    flex-direction: row; /* Горизонтальная компоновка */
    justify-content: flex-start; /* Выравнивание по левому краю */
    margin-top: 10px; /* Отступ сверху для продуктов */
}

.product-itemm {
    display: flex; /* Flex-контейнер для каждой карточки товара */
    align-items: center; /* Выравнивание по центру по вертикали */
    width: 120px; /* Фиксированная ширина для продукта */
    margin-right: 20px; /* Отступ между карточками товара */
    flex-shrink: 0; /* Запретить сжатие блока */
}

.product-imagee {
    width: 70px; /* Увеличенная ширина изображения */
    height: 70px; /* Увеличенная высота изображения */
    object-fit: cover; /* Обрезаем изображение по размеру */
    margin-right: 5px; /* Отступ справа от изображения */
}

.product-info {
    display: flex; /* Flex-контейнер для информации о продукте */
    flex-direction: column; /* Вертикальная компоновка для текста */
}

.product-info h5 {
    margin: 0; /* Убираем отступы */
    font-size: 14px; /* Размер текста для названия продукта */
}

.product-info p {
    margin: 0; /* Убираем отступы */
    font-size: 12px; /* Размер текста для цены */
}
